#password {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    min-height: 40px;
}

#gallows {
    margin-top: 20px;
    width: 600px;
    text-align: center;
}

#alphabet {
    width: 600px;
    min-height: 80px;
    text-align: center;
}

.letter {
    width: 30px;
    height: 30px;
    font-size: 26px;
    text-align: center;
    padding: 3px;
    margin: 2px;
    border: 3px solid #444444;
    border-radius: 15px;
    float: left;
    cursor: pointer;
}

.letter:hover {
    background-color: #2b2b2b;
    color: #ff6600;
    border: 3px solid #ff6600;
}
